absl-py
cloudpickle
dm_control>=1.0.28
dm-env
dm-tree
flax
gym==0.26.2
gymnasium>=1.0.0
h5py
imageio
imageio-ffmpeg
jax
jaxlib
matplotlib
ml_collections
mujoco>=3.0.0
mujoco-py==2.1.2.14
numba
numpy<2.0.0
opencv-python
optax
pandas
pygame
PyOpenGL
PyYAML
qpsolvers
quadprog
robomimic==0.3.0
robosuite==1.5.2
scipy
seaborn
tensorboard
tensorboardX
tensorflow-probability
tqdm
wandb